* {
    margin: 0;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --white-color: rgb(231, 227, 227);
    --red-color: rgb(255, 49, 49);
}

h1 {
    font-size: 3rem;
}
h2{
    text-align: start;
    font-size: 1,5em;
}
h3 {
    font-size: 1rem;
} 
span {
    font-size: 1rem;
}
p {
    font-size: 1rem;
}

body {
    display: grid;
    grid-template-rows: auto auto auto;
}

header {
    grid-row: 1;
    display: grid;
    grid-template-rows: auto 35%;
    background-color: var(--red-color);
}
.header-top {
    display: grid;
    grid-template-columns: 25% 60% auto auto; 
    grid-gap: 0.5em;
    align-items: center;
} 

.logo img {
    max-width: 100%;
    height: auto;
}

.search-bar {
    justify-self: start; 
    display: flex;
    align-items: center;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px;
    height: 70%;
    width: 90%; 
    background-color: var(--white-color);
}

.search-bar .icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--white-color);
    font-size: 1.5rem;
}
.search-bar input {
    flex: 1;
    font-size: 1.5rem;
    text-align: start;
    background-color: var(--white-color);
}

.user-icon img, .cart-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-icon, .cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    background-color: var(--white-color);
    font-size: 1rem;
    cursor: pointer;
}

.menu {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}

nav{
    background-color: black;
}

nav li {
    margin-top: 7px; 
}

nav a {
    color: var(--white-color); 
    text-decoration: underline; 
    
}

nav a:hover {
    color: var(--white-color); 
}

li {
    list-style: none;
}

main {
    grid-row: 2;
    display: grid;
    grid-template-rows:repeat(4, auto);
    grid-gap: 1em;
    height: 100%;
    padding: 1em;
    justify-items: center;
    align-items: center; 
}


#ofertas {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0,5em;
    margin-right: 5%;
    margin-bottom: 5%;

}

#ofertas .offer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

#ofertas .offer-card {
    display: grid;
    grid-template-rows: 40% auto auto auto;
    grid-gap: 0.5em;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}

#ofertas .offer-card img {
    grid-row: 1;
    width: 100%;
    height: 100%;
}

#ofertas .offer-card h3 {
    grid-row: 2;
    margin: 0.5em 0;
    text-align: start;
    padding: 5px;
}

#ofertas .offer-card h2 {
    grid-row: 3;
    margin: 0.5em 0;
    text-align: start;
    padding: 5px;
}

#ofertas .offer-card a {
    grid-row: 4;
    justify-self: end;
    align-self: end;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#ofertas .offer-card a:hover {
    background-color: #f0f0f0ad;
}

#categorias {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0,5em;
    margin-bottom: 5%;
}

#categorias .category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}
#categorias  .category-card {
    cursor: pointer;
}

#categorias  .category-card img {
    width: 70%; 
    height: 70%; 
    border-radius: 5px;
}
#categorias  .category-card h2 {
    display: block;
    color: black;
    margin-top: 0.5em;
    text-align: center
}

#categorias .category-card:hover {
    border: 1px solid #f0f0f0ad;
    border-radius: 5px;
    background-color: #f0f0f0ad; 
}

#categorias .category-card:hover h3 {
    text-decoration: underline;
    
}

#productos {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0,5em;
}

#productos .product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 10px;
    grid-auto-rows: 1fr;
}

#productos .product-card {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    border: 1px solid #f0f0f0;
    height: 100%;
}
#productos .product-card img {
    width: 160px; 
    height: 120px; 
    border-radius: 5px;
    margin: auto;
    display: block;
}

#productos .oferta {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 10px; 
}

#productos .oferta span {
    border: 1px --red-color;
    border-radius: 10px;
    background-color: var(--red-color);
    color: var(--white-color);
    margin-left: 50%;
    padding: 5px;
    text-align: end;
    justify-content: end;
}

#productos .old-price{
    font-family: fantasy;
    text-decoration: line-through;
    text-align: start;
}

#productos .price{
    font-size: 2em;
    font-family: fantasy;
    color: var(--red-color);
}

#productos .product-card a {
    text-decoration: none;
    color: black;
}

footer {
    grid-row: 3;
    background-color: var(--red-color);
    color: var(--white-color);
    text-align: center;
    padding: 1em;
    display: grid;
    grid-template-rows: 80% 20%;
}

footer li {
    margin-bottom: 0.5em;
}

footer #contacto {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
}

footer #contacto .footer-contact{
    grid-column: 2;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer #contacto .footer-contact a{
    color: black;
    text-decoration: none;
}

footer .footer-bottom{
    margin-top: 15px;
}


@media (max-width: 768px){
    
    h1 {
        font-size: 2rem;
    }
    h2{
        text-align: start;
        font-size: 1rem;
    }
    h3 {
        font-size: 8px;
    } 
    span {
        font-size: 7px;
    }
    p {
        font-size: 1rem;
    }
    a {
        font-size: 12px;
    }

    .header-top{
        grid-template-columns: 25% 55% auto auto; 
        grid-gap: 0.5em;
    }
    .search-bar {
        width: 100%;
        padding: 4px;
    }
    .search-bar input {
        width: 100%; 
        font-size: 1rem;
    }
    .search-bar .icon {
        font-size: 1rem;
    }
    nav li{
        margin-top: 0px;
        margin-bottom: 15px;
    }
    main {
        margin-left: 5%;
        margin-right: 5%;
        grid-gap: auto;
    }
    main{
        margin: auto;
    }

    #categorias  .category-card img {
        width: 50%; 
        height: 70%; 
    }

    #categorias .category-grid {
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 0.5em;
    }

    #productos .product-list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
    }
    
    footer #contacto .footer-logo{
        grid-column: 1 / -1;
        justify-self: center;
    }
 
}

@media (max-width: 375px) {
   
    body {
        grid-template-rows: auto auto auto;
        align-items: center;
        justify-items: center;
        text-align: center;
    }

    header .header-top {
        grid-template-columns: 30% auto auto auto;
        grid-gap: 0.3em;
    }

    .search-bar {
        width: 100%;
        padding: 2px;
    }
    .search-bar .icon {
        font-size: 1rem;
    }
    
    .search-bar input {
        width: 100%; 
        font-size: 1rem;
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
        grid-gap: auto;
    }

    #ofertas .offer-grid {
        grid-template-columns: 1fr;
        grid-gap: 2em; 
    }

    #categorias .category-grid {
        grid-template-columns: 1fr; 
        grid-gap: 0.5em;
    }

    #productos .product-list {
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }

    #contacto .footer-contact {
        grid-column: 1 / -1;
        margin-top: 0.5em;
    }
}
